Repository naywayne90/sygfp-artis-g-re: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, eslint --fix

chore: Add MCP server configuration
  .gitignore
  .mcp.json
Due: prettier --write

feat(dashboard): Add role-based dashboard routing and direction-specific dashboards
  src/components/dashboard/DashboardCB.tsx
  src/components/dashboard/DashboardDSI.tsx
  src/components/dashboard/DashboardMoyensGen.tsx
  src/hooks/useDSIDashboardStats.ts
  src/pages/AdminDashboardFallback.tsx
  src/pages/Dashboard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: Add sensitive files to gitignore
  .gitignore
Due: none

docs: Analyse complète du projet SYGFP - 29/01/2026
  docs/ANALYSE_COMPLETE_SYGFP_20260129.md
Due: prettier --write

docs: Guide complet de migration avant clear contexte
  docs/MIGRATION_COMPLETE_GUIDE.md
  docs/migration/GIT_HISTORY.txt
  docs/migration/GIT_STATUS.txt
  docs/migration/MIGRATION_DATA_CONTENTS.txt
Due: prettier --write

fix(mcp): Corriger la configuration du serveur GitHub MCP
  .claude/settings.local.json
  .mcp.json
Due: prettier --write

feat(migration): Migration 100% données SYGFP SQL Server → Supabase
  docs/AUDIT_MIGRATION_COMPLET.md
  docs/ETAT_MIGRATION_ET_ACCES.md
  docs/RAPPORT_MIGRATION_COMPARAISON.md
  docs/RAPPORT_MIGRATION_COMPLETE.md
  scripts/migrate_engagements_2024.py
  scripts/migrate_liquidations.py
  scripts/migrate_ordonnancements.py
  scripts/migration_complete.py
  scripts/upload_to_supabase_storage.py
Due: prettier --write

feat(migration): Migration complète des pièces jointes SYGFP
  docs/MIGRATION_PIECES_JOINTES.md
  scripts/create_file_mappings.py
  scripts/upload_all_files.py
  scripts/upload_files_stable.py
  src/services/migratedFilesService.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: Add .mcp.json.example template for MCP configuration
  .mcp.json.example
Due: none

docs: Add final migration scripts and reports
  RAPPORT_MIGRATION_FINALE_V3.md
  STATUTS_VALIDES_SUPABASE.md
  scripts/migration_finale_correcte.py
  scripts/migration_finale_v3.py
  scripts/test_connection.py
  scripts/test_migration_start.py
Due: prettier --write

feat(migration): Migration complète SQL Server → Supabase (96.9% réussie)
  .gitignore
  audit_final.log
  migration_v3_final_corrected.log
  scripts/audit_final_complet.py
Due: none

docs(migration): Résumé complet de la session de migration
  RESUME_SESSION_MIGRATION.md
Due: prettier --write

fix(security+workflow): Corriger les 7 gaps identifiés par l'audit technique
  src/App.tsx
  src/components/layout/AppSidebar.tsx
  src/components/ordonnancement/OrdonnancementList.tsx
  src/config/modules.registry.ts
  src/hooks/useDelegations.ts
  src/hooks/useDossierDetails.ts
  src/hooks/useInterimPermissions.ts
  src/hooks/useWorkflowEngine.ts
  src/pages/DossierDetails.tsx
  src/pages/Engagements.tsx
  src/pages/Liquidations.tsx
  src/pages/Ordonnancements.tsx
  src/pages/SuiviDossiers.tsx
  src/services/noteDGPdfService.ts
  src/services/noteSEFPdfService.ts
  supabase/migrations/20260207100000_notifications_interim.sql
  supabase/migrations/20260207130000_workflow_direction_check.sql
Due: eslint --fix --max-warnings 0, prettier --write

feat(dashboard-hr): replace mocked data with real Supabase queries
  src/components/dashboard/DashboardHR.tsx
  src/hooks/useHRDashboardData.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(workflow): configure DGPECRP 2-path workflow with 11 agents hierarchy
  supabase/migrations/20260207_p3_workflow_dgpecrp.sql
Due: none

feat(roadmap): add complete roadmap module with plans_travail and taches CRUD
  src/App.tsx
  src/components/layout/SidebarV2.tsx
  src/components/roadmap/TacheForm.tsx
  src/hooks/usePlansTravail.ts
  src/hooks/useProjetTaches.ts
  src/hooks/useRoadmapDashboard.ts
  src/pages/planification/ProjetDetail.tsx
  src/pages/planification/ProjetsList.tsx
  src/pages/planification/RoadmapDashboard.tsx
  src/pages/planification/RoadmapDirection.tsx
  src/types/roadmap.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor(sidebar): restructure de 9 à 6 sections, renommer Dashboard DMG en Tableau Financier
  src/App.tsx
  src/components/layout/SidebarV2.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(sql): migrations notifications, tableau financier et historique libellés
  supabase/migrations/20260207_p6_notifications.sql
  supabase/migrations/20260207_p7_tableau_financier.sql
  supabase/migrations/20260207_p8_historique_libelles.sql
Due: none

feat(financier): tableau financier, historique libellés et dialog édition
  src/App.tsx
  src/components/budget/EditLibelleDialog.tsx
  src/hooks/useHistoriqueLibelles.ts
  src/hooks/useTableauFinancier.ts
  src/pages/DashboardFinancier.tsx
  src/pages/admin/HistoriqueLibelles.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(sql): adapt migrations to existing schema + add views and RPCs
  supabase/migrations/20260207_p6_notifications.sql
  supabase/migrations/20260207_p7_tableau_financier.sql
Due: none

feat(notifications+rbac): cloche notifications header + RBAC sidebar admin-only
  src/components/layout/SidebarV2.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(qualite): corrections qualite P6-P8, rapport de verification
  docs/VERIFICATION_REPORT_P6_P8.md
  src/pages/planification/ProjetDetail.tsx
  src/pages/planification/ProjetsList.tsx
  src/pages/planification/RoadmapDashboard.tsx
  src/pages/planification/RoadmapDirection.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(migrations): corriger les noms de parametres entre hooks et SQL
  src/hooks/useHistoriqueLibelles.ts
  src/pages/admin/HistoriqueLibelles.tsx
  supabase/migrations/20260207_p7_tableau_financier.sql
  supabase/migrations/20260207_p8_historique_libelles.sql
Due: eslint --fix --max-warnings 0, prettier --write

chore(gitignore): add node_modules and .playwright-mcp to gitignore
  .gitignore
Due: none

fix(types): regenerer types Supabase, corriger 52 erreurs TypeScript
  src/hooks/useDashboardData.ts
  src/hooks/useHistoriqueLibelles.ts
  src/hooks/usePlansTravail.ts
  src/hooks/useProjetTaches.ts
  src/hooks/useReglements.ts
  src/hooks/useRoadmapDashboard.ts
  src/integrations/supabase/types.ts
  src/pages/Reglements.tsx
  src/pages/admin/GestionAnomalies.tsx
  src/pages/admin/HistoriqueLibelles.tsx
  src/pages/execution/DashboardDirectionPage.tsx
  supabase/functions/generate-report/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(espace-direction): Ajouter module Espace Direction avec gestion notes et feuilles de route
  package-lock.json
  package.json
  src/App.tsx
  src/components/direction/DownloadTemplateButton.tsx
  src/components/layout/SidebarV2.tsx
  src/contexts/RBACContext.tsx
  src/hooks/useAuditTrail.ts
  src/hooks/useNotesDirection.ts
  src/integrations/supabase/types.ts
  src/lib/templates/feuilleRouteTemplate.ts
  src/pages/EspaceDirection.tsx
  src/pages/MonProfil.tsx
  src/pages/admin/GestionUtilisateurs.tsx
  supabase/migrations/20260209_fix_fk_and_plans_travail.sql
  supabase/migrations/20260209_notes_direction.sql
Due: eslint --fix --max-warnings 0, prettier --write

feat(dashboard): Refondre le dashboard DG et ajouter le routage par direction
  src/components/dashboard/DashboardDG.tsx
  src/hooks/useDashboardByRole.ts
  src/hooks/useDashboardStats.ts
  src/pages/Dashboard.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(lint): Corriger 150 warnings ESLint sur 31 fichiers
  src/components/dashboard/DashboardKPI.tsx
  src/components/import-export/BudgetImportWizard.tsx
  src/hooks/useBreadcrumbs.ts
  src/hooks/useBudgetImport.ts
  src/hooks/useExportDossierComplet.ts
  src/hooks/useImportSecurity.ts
  src/hooks/useNotesSEFExport.ts
  src/pages/Alertes.tsx
  src/pages/AlertesBudgetaires.tsx
  src/pages/Marches.tsx
  src/pages/NoteAEFDetail.tsx
  src/pages/NoteSEFDetail.tsx
  src/pages/NotesAEF.tsx
  src/pages/NotesDirectionGenerale.tsx
  src/pages/NotesSEF.tsx
  src/pages/Recherche.tsx
  src/pages/ValidationNotesAEF.tsx
  src/pages/ValidationNotesDG.tsx
  src/pages/ValidationNotesSEF.tsx
  src/pages/admin/GestionAutorisations.tsx
  src/pages/admin/GestionDelegations.tsx
  src/pages/admin/GestionExercices.tsx
  src/pages/contractualisation/Prestataires.tsx
  src/pages/execution/ExpressionBesoin.tsx
  src/pages/execution/ImputationPage.tsx
  src/pages/planification/PlanificationBudgetaire.tsx
  src/pages/tresorerie/ApprovisionnementsBanque.tsx
  src/pages/tresorerie/ApprovisionnementsCaisse.tsx
  src/pages/tresorerie/GestionTresorerie.tsx
  src/pages/tresorerie/MouvementsBanque.tsx
  src/pages/tresorerie/MouvementsCaisse.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(docs): Corriger nom ARTI dans audit technique
  docs/AUDIT_TECHNIQUE_COMPLET.md
Due: prettier --write

docs(audit): Rapport d'audit technique vérifié et corrigé par 6 agents
  .gitignore
  docs/AUDIT_TECHNIQUE_COMPLET.md
Due: prettier --write

feat(canvas): Module Canvas notes de direction + optimisations performance
  docs/capture/ANALYSE_DOCUMENTS.md
  docs/capture/ARCHITECTURE_CANVAS.md
  docs/capture/AUDIT_FINANCE.md
  docs/capture/RAPPORT_TESTS.md
  package-lock.json
  package.json
  public/logo-arti.jpg
  src/App.tsx
  src/components/canvas/ARTIFooter.tsx
  src/components/canvas/ARTIHeader.tsx
  src/components/canvas/NoteCanvas.tsx
  src/components/canvas/NoteCanvasEditor.tsx
  src/components/canvas/NoteCanvasSidebar.tsx
  src/components/canvas/NoteCanvasToolbar.tsx
  src/components/canvas/NoteExportActions.tsx
  src/components/canvas/NoteFormFields.tsx
  src/components/canvas/NotePreview.tsx
  src/components/layout/AppLayout.tsx
  src/contexts/ExerciceContext.tsx
  src/contexts/RBACContext.tsx
  src/hooks/useNoteCanvas.ts
  src/hooks/useNoteReference.ts
  src/hooks/useNotesDirection.ts
  src/pages/EspaceDirection.tsx
  src/pages/NoteCanvasPage.tsx
  src/services/noteDirectionDocxService.ts
  src/services/noteDirectionPdfService.ts
  supabase/migrations/20260210120000_canvas_notes_direction.sql
Due: eslint --fix --max-warnings 0, prettier --write

fix(rbac): Résoudre Gap 2 + Gap 3 - Délégations et intérims dans le workflow
  src/hooks/useCheckValidationPermission.ts
  src/hooks/useEngagements.ts
  src/hooks/useNoteAccessControl.ts
  src/hooks/useNotesSEF.ts
  supabase/migrations/20260212_audit_trail_delegation_columns.sql
  supabase/migrations/20260212_unified_validation_permission.sql
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,css,scss})
  eslint --fix: any of: *.{js,jsx}
