Repository naywayne90/sygfp-artis-g-re: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, eslint --fix

feat(expression-besoin): Prompt 4 - Formulaire articles dynamique, hook unifié, QA validée
  src/components/expression-besoin/ExpressionBesoinForm.tsx
  src/components/expression-besoin/ExpressionBesoinFromImputationForm.tsx
  src/components/expression-besoin/ExpressionBesoinList.tsx
  src/hooks/useExportBudgetChain.ts
  src/hooks/useExpressionsBesoin.ts
  src/pages/execution/ExpressionBesoin.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(expression-besoin): Prompt 5 - Détail 5 onglets + menu Actions
  src/components/expression-besoin/ExpressionBesoinDetails.tsx
  src/components/expression-besoin/ExpressionBesoinList.tsx
  src/hooks/useExpressionsBesoin.ts
  src/pages/execution/ExpressionBesoin.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(expression-besoin): Prompt 6 - Workflow double validation CB → DG
  e2e/prompt6-expression-besoin-flux-complet.spec.ts
  src/components/expression-besoin/ExpressionBesoinDetails.tsx
  src/components/expression-besoin/ExpressionBesoinList.tsx
  src/components/expression-besoin/ExpressionBesoinTimeline.tsx
  src/components/expression-besoin/ExpressionBesoinValidateDialog.tsx
  src/components/expression-besoin/ExpressionBesoinVerifyDialog.tsx
  src/hooks/useExpressionsBesoin.ts
  src/hooks/usePermissions.ts
  src/hooks/useSidebarBadges.ts
  src/pages/execution/ExpressionBesoin.tsx
  supabase/migrations/20260216_eb_double_validation.sql
  supabase/migrations/20260216_fix_rls_expressions_besoin.sql
  supabase/migrations/20260216_prompt4_eb_lignes_ref_indexes.sql
  supabase/migrations/20260216_prompt5_view_audit_storage.sql
Due: eslint --fix --max-warnings 0, prettier --write

test(expression-besoin): Prompt 6 - QA flux complet CB→DG 11/11 tests PASS
  e2e/prompt6-expression-besoin-flux-complet.spec.ts
  supabase/migrations/20260216_drop_obsolete_eb_trigger.sql
Due: eslint --fix --max-warnings 0, prettier --write

fix(e2e): Prompt 6 tests serial + toast locator fix
  e2e/prompt6-expression-besoin-flux-complet.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(expression-besoin): Prompt 7 - Articles enrichis avec drag & drop, catégories et audit
  package-lock.json
  package.json
  src/components/expression-besoin/ArticlesTableEditor.tsx
  src/components/expression-besoin/ExpressionBesoinDetails.tsx
  src/components/expression-besoin/ExpressionBesoinFromImputationForm.tsx
  src/hooks/useExpressionsBesoin.ts
  supabase/migrations/20260216_prompt7_articles_enrichment.sql
Due: eslint --fix --max-warnings 0, prettier --write

feat(expression-besoin): Prompt 7 - PDF articles, constantes partagées et migrations audit
  e2e/prompt7-expression-besoin-articles.spec.ts
  src/components/expression-besoin/articleConstants.ts
  src/services/expressionBesoinArticlesPdfService.ts
  supabase/migrations/20260216_prompt7_fix_audit_logs_rls.sql
  supabase/migrations/20260216_prompt7_trigger_robuste_contraintes_audit.sql
Due: eslint --fix --max-warnings 0, prettier --write

feat(expression-besoin): Prompt 8 - Exports, pagination serveur et lazy loading
  src/components/export/BudgetChainExportButton.tsx
  src/components/expression-besoin/ExpressionBesoinDetails.tsx
  src/components/expression-besoin/ExpressionBesoinExportButton.tsx
  src/components/expression-besoin/ExpressionBesoinList.tsx
  src/hooks/useExportBudgetChain.ts
  src/hooks/useExpressionBesoinDetail.ts
  src/hooks/useExpressionsBesoin.ts
  src/hooks/useExpressionsBesoinExport.ts
  src/lib/export/export-service.ts
  src/pages/execution/ExpressionBesoin.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(expression-besoin): Prompt 9 - QR code, chaîne dépense 9 étapes, navigation et QA fixes
  src/components/expression-besoin/ExpressionBesoinDetails.tsx
  src/components/expression-besoin/ExpressionBesoinList.tsx
  src/components/shared/DossierStepTimeline.tsx
  src/components/workflow/ChaineDepenseCompact.tsx
  src/hooks/useExpressionBesoinDetail.ts
  src/hooks/useExpressionsBesoin.ts
  src/lib/qrcode-utils.ts
  src/services/expressionBesoinArticlesPdfService.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(expression-besoin): Prompt 10 FINAL - 51/51 tests, certification et transition
  docs/CERTIFICATION_EXPRESSION_BESOIN.md
  docs/TRANSITION_VERS_PASSATION.md
  e2e/tests/expression-besoin-complete.spec.ts
  src/components/expression-besoin/ArticlesTableEditor.tsx
  src/components/expression-besoin/ExpressionBesoinDetails.tsx
  src/components/expression-besoin/ExpressionBesoinForm.tsx
  src/components/expression-besoin/ExpressionBesoinFromImputationForm.tsx
  src/components/expression-besoin/ExpressionBesoinList.tsx
  src/components/expression-besoin/ExpressionBesoinVerifyDialog.tsx
  src/components/shared/DossierStepTimeline.tsx
  src/hooks/useExportBudgetChain.ts
  src/hooks/useExpressionsBesoin.ts
  src/pages/execution/ExpressionBesoin.tsx
  supabase/migrations/20260216_prompt9_qr_notifications_coherence.sql
Due: eslint --fix --max-warnings 0, prettier --write

test(expression-besoin): Prompts 8-10 — QA complète et certification finale
  e2e/expression-besoin-complete.spec.ts
  e2e/imputation-complete.spec.ts
  e2e/prompt10-certification.spec.ts
  e2e/prompt3-expression-besoin.spec.ts
  e2e/prompt4-expression-besoin.spec.ts
  e2e/prompt5-expression-besoin-details.spec.ts
  e2e/prompt8-imputation-qa.spec.ts
  e2e/prompt8-qa.spec.ts
  supabase/migrations/20260216_prompt8_rls_indexes_security.sql
  supabase/migrations/20260216_prompt8_security_perf.sql
  supabase/migrations/20260216_prompt9_notifications_coherence.sql
Due: eslint --fix --max-warnings 0, prettier --write

docs(expression-besoin): Prompt 10 - Rapport intégrité finale + transition marchés
  supabase/migrations/20260216_prompt10_integrite_finale_eb.sql
Due: none

docs(passation-marche): Prompt 11 - Audit complet module Passation de Marché
  supabase/migrations/20260216_prompt11_audit_passation_marche.sql
Due: none

docs(passation-marche): Prompt 12 - Diagnostic complet des 16 marchés existants
  supabase/migrations/20260218_prompt12_diagnostic_marches.sql
Due: none

feat(passation-marche): Prompt 4 - Colonnes, index et triggers backend marchés
  supabase/migrations/20260218_prompt4_marches_backend.sql
Due: none

feat(passation-marche): Prompt 5 - Renforcement table marche_lots
  supabase/migrations/20260218_prompt5_marche_lots_backend.sql
Due: none

feat(passation): Prompt 6 - Renforcement tables soumissions & marche_offres
  supabase/migrations/20260218_prompt6_soumissions_backend.sql
Due: none

feat(passation): Prompt 7 - Table evaluations_offre + triggers + RLS
  supabase/migrations/20260218_prompt7_evaluations_offre_backend.sql
Due: none

feat(passation): Prompt 7 - Évaluation COJO avec stepper 3 étapes
  src/components/marches/MarcheDetails.tsx
  src/components/marches/MarcheForm.tsx
  src/components/passation-marche/EvaluationCOJO.tsx
  src/components/passation-marche/EvaluationGrid.tsx
  src/components/passation-marche/PassationChecklist.tsx
  src/components/passation-marche/PassationDetails.tsx
  src/components/passation-marche/PassationMarcheForm.tsx
  src/components/passation-marche/PassationTimeline.tsx
  src/components/passation-marche/PassationValidateDialog.tsx
  src/components/passation-marche/SoumissionnairesSection.tsx
  src/components/passation-marche/index.ts
  src/hooks/useMarches.ts
  src/hooks/usePassationsMarche.ts
  src/integrations/supabase/types.ts
  src/pages/execution/PassationMarche.tsx
  supabase/migrations/20260218_prompt7_evaluation_cojo.sql
Due: eslint --fix --max-warnings 0, prettier --write

feat(passation): Prompt 8 - RPC fn_get_marche_detail avec 12 sections JSONB
  supabase/migrations/20260218_prompt8_marche_detail_rpc.sql
Due: none

feat(passation): Prompt 9 - Machine à états, pré-requis, audit, notifications, verrouillage
  supabase/migrations/20260218_prompt9_transitions_contraintes.sql
Due: none

feat(passation): Prompt 10 - RBAC durcissement + approbation/rejet DG
  supabase/migrations/20260218_prompt10_rbac_approbation.sql
Due: none

feat(passation): Prompts 4-10 FRONTEND — Sélecteur EB enrichi, lots, soumissionnaires, évaluation, détails, workflow, RBAC menu et approbation DG
  docs/AUDIT_COMPLET_PASSATION.md
  docs/DIAGNOSTIC_COMPLET_PASSATION.md
  e2e/audit-marches-detail.spec.ts
  e2e/audit-passation-marche.spec.ts
  e2e/fixtures/dummy-offre.pdf
  e2e/prompt3-qa-loop.spec.ts
  e2e/prompt4-passation.spec.ts
  e2e/prompt5-passation-lots.spec.ts
  e2e/prompt6-passation-soumissionnaires.spec.ts
  e2e/prompt7-evaluation.spec.ts
  e2e/prompt8-marche-details.spec.ts
  e2e/prompt9-lifecycle.spec.ts
  src/App.tsx
  src/components/passation-marche/PassationDetails.tsx
  src/components/passation-marche/PassationMarcheForm.tsx
  src/components/passation-marche/PassationTimeline.tsx
  src/components/passation-marche/WorkflowActionBar.tsx
  src/components/passation-marche/index.ts
  src/hooks/usePassationsMarche.ts
  src/pages/execution/PassationApprobation.tsx
  src/pages/execution/PassationMarche.tsx
  supabase/migrations/20260218_prompt4_references_fk_seuils.sql
  supabase/migrations/20260218_prompt5_lots_marche_table.sql
  supabase/migrations/20260218_prompt6_soumissionnaires_lot.sql
  supabase/migrations/20260218_prompt6_soumissionnaires_table.sql
  supabase/migrations/20260218_prompt9_workflow_columns.sql
  supabase/migrations/20260219_passation_7step_lifecycle.sql
Due: eslint --fix --max-warnings 0, prettier --write

feat(passation): Prompt 11 - Export marchés frontend (Excel/PDF/CSV/PV COJO)
  src/hooks/usePassationMarcheExport.ts
  src/lib/export/export-templates.ts
  supabase/migrations/20260218_prompt11_export_marches.sql
Due: eslint --fix --max-warnings 0, prettier --write

feat(passation): Prompt 11 - Edge Function generate-export: handlers marche + pv_cojo
  src/hooks/useExport.ts
  supabase/functions/generate-export/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(passation): Prompt 12 - Sécurité RLS, pagination serveur, qualité formatage
  src/components/passation-marche/PassationDetails.tsx
  src/components/passation-marche/SoumissionnairesSection.tsx
  src/hooks/usePassationsMarche.ts
  src/pages/execution/PassationMarche.tsx
  supabase/migrations/20260218_prompt12_rls_perf_qualite.sql
Due: eslint --fix --max-warnings 0, prettier --write

feat(passation): Prompt 12 BACKEND — RLS sécurité, indexes, trigger direction_id
  src/components/passation-marche/ComparatifEvaluation.tsx
  src/components/passation-marche/EvaluationCOJO.tsx
  src/components/passation-marche/PassationExportButton.tsx
  src/components/passation-marche/TableauComparatif.tsx
  src/components/passation-marche/index.ts
  src/hooks/usePassationExport.ts
  src/hooks/usePassationMarcheExport.ts
  src/lib/config/rbac-config.ts
  src/pages/execution/PassationApprobation.tsx
  src/services/passationExportService.ts
  src/services/pvCojoPdfService.ts
  supabase/migrations/20260218_prompt12_securite_perf.sql
Due: eslint --fix --max-warnings 0, prettier --write

feat(passation): Prompt 13 - QR code PDF, notifications workflow, navigation chaîne
  src/components/layout/SidebarV2.tsx
  src/components/passation-marche/PassationChainNav.tsx
  src/components/passation-marche/PassationDetails.tsx
  src/components/passation-marche/index.ts
  src/components/workflow/WorkflowStepIndicator.tsx
  src/hooks/usePassationsMarche.ts
  src/hooks/useSidebarBadges.ts
  src/pages/execution/PassationMarche.tsx
  src/services/pvCojoPdfService.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(passation): Prompt 13 BACKEND — Notifications templates fix, recipients, badge perf, QR
  e2e/prompt13-qr-chain-badge.spec.ts
  supabase/migrations/20260218_prompt13_notifications_passation.sql
Due: eslint --fix --max-warnings 0, prettier --write

test(passation): Prompt 14 — 94 tests unitaires couvrant toutes les fonctionnalités passation
  src/test/passation-evaluation.test.ts
  src/test/passation-utils.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(passation): Prompt 15 — Certification 100/100 et transition vers Engagement
  docs/CERTIFICATION_PASSATION_MARCHE.md
  docs/TRANSITION_VERS_ENGAGEMENT.md
Due: prettier --write

docs(architecture): Architecture Backend detaillee — schema ELOP, tables, RBAC
  docs/ARCHITECTURE_TECHNIQUE.md
  docs/CONVENTIONS.md
Due: prettier --write

feat(recovery): Phase 3 backend — vérifications Supabase, Edge Functions, DB
  RECOVERY.sh
Due: none

docs: documentation complète projet SYGFP — 7 fichiers de résilience et contexte
  AGENT_CONTEXT.md
  ARCHITECTURE.md
  CLAUDE.md
  CONVENTIONS.md
  PROJECT_STATUS.md
  TESTS_REGISTRY.md
Due: prettier --write

docs(qa): Prompts 2-5 QA — Documentation certifiée 16/16 vérifications PASS
  CLAUDE.md
  docs/ARCHITECTURE_TECHNIQUE.md
  docs/CERTIFICATION_DOCUMENTATION.md
  docs/CONVENTIONS.md
  docs/PROJECT_STATUS.md
Due: prettier --write

fix(docs): Corriger row counts et métriques DB après vérification SQL
  ARCHITECTURE.md
  docs/ARCHITECTURE_TECHNIQUE.md
  docs/PROJECT_STATUS.md
Due: prettier --write

fix(rbac): Remplacer project ID hardcodé par import.meta.env
  src/contexts/RBACContext.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(engagement): Prompt 4 — enrichissement backend budget_engagements
  supabase/migrations/20260219_prompt4_engagement_structural.sql
  supabase/migrations/20260219_prompt4b_engagement_backend.sql
Due: none

feat(engagement): Prompt 5 — RPC get_budget_indicator + get_budget_indicator_complet
  supabase/migrations/20260219_prompt5_budget_indicator.sql
Due: none

feat(engagement): Prompt 6 — colonnes visa, workflow statut, contrôle crédits, audit log
  supabase/migrations/20260219_prompt6_visa_trigger_budget.sql
Due: none

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,css,scss})
  eslint --fix: any of: *.{js,jsx}
