Repository naywayne90/sygfp-artis-g-re: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix --max-warnings 0", "prettier --write"],
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

feat(optim): Export Excel montant estimé, CSP headers, RLS DAAF, vendor QR chunk
  docs/CHANGELOG_SEF.md
  index.html
  src/hooks/useNotesSEFExport.ts
  supabase/migrations/20260213_rls_daaf_update_soumis.sql
  vite.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(rls): Corriger migration DAAF pour utiliser user_roles au lieu de is_admin()/is_dg()/is_daaf()
  supabase/migrations/20260213_rls_daaf_update_soumis.sql
Due: none

docs: Mise à jour complète de 12 fichiers MD après résolution Gaps 2-4
  docs/AUDIT_TECHNIQUE_COMPLET.md
  docs/CHANGELOG_SEF.md
  docs/ETAT_ACTUEL.md
  docs/FLUX_SEF_AEF.md
  docs/GUIDE_CODE_SPLITTING.md
  docs/NOTIFICATIONS_GUIDE.md
  docs/PROJECT_STATUS.md
  docs/RELEASE_NOTES_v4.md
  docs/RLS_NOTES_SEF.md
  docs/SECURITY_GUIDE.md
  docs/TEST_NOTES_SEF.md
  docs/modules/MODULE_NOTES_SEF.md
Due: prettier --write

fix(notes-aef): Corriger 9 bugs identifiés dans l'audit AEF (score 62→amélioration)
  docs/AUDIT_COMPLET_NOTES_AEF.md
  src/components/notes-aef/NoteAEFForm.tsx
  src/components/notes-aef/NoteAEFList.tsx
  src/hooks/useNotesAEFExport.ts
  src/pages/NoteAEFDetail.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(notes-sef): Corriger 7 bugs et erreurs console sur /notes-sef et /notes-sef/validation
  docs/AUDIT_COMPLET_NOTES_AEF.md
  docs/CHANGELOG_AEF.md
  docs/CHANGELOG_SEF.md
  src/components/budget/BudgetTreeView.tsx
  src/components/layout/TopBar.tsx
  src/components/notes-aef/NoteAEFDetails.tsx
  src/components/notes-aef/NoteAEFForm.tsx
  src/components/notes-aef/NoteAEFImputeDialog.tsx
  src/components/notes-sef/LinkedNAEFList.tsx
  src/components/notes-sef/NoteSEFForm.tsx
  src/components/notes-sef/NotesSEFListV2.tsx
  src/hooks/useBudgetLineAudit.ts
  src/hooks/useBudgetLineELOP.ts
  src/hooks/useBudgetLines.ts
  src/hooks/useCheckValidationPermission.ts
  src/hooks/useEngagements.ts
  src/hooks/useExportNoteSEFPdf.ts
  src/hooks/useNoteSEFAutosave.ts
  src/hooks/useNoteSEFDetail.ts
  src/hooks/useNotesAEFExport.ts
  src/hooks/useNotesSEF.ts
  src/pages/NoteAEFDetail.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix(rls): Corriger 3 bugs RLS notes_dg pour workflow AEF complet
  supabase/migrations/20260212_fix_notes_dg_rls_aef_workflow.sql
Due: none

fix(notes-aef): Corrections frontend AEF et SEF (types, console.error, imports)
  src/components/notes-sef/NotesSEFListV2.tsx
  src/hooks/useExportNoteSEFPdf.ts
  src/hooks/useNotesAEF.ts
  src/lib/notes-aef/notesAefService.ts
  src/pages/ValidationNotesAEF.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(schema): Prompt 4 Backend - unique index note_sef_id + is_migrated column
  supabase/migrations/20260213_prompt4_schema_notes_dg.sql
Due: none

fix(notes-aef): Corriger 2 bugs critiques AEF - infinite loop budget + table 0 notes
  src/components/notes-aef/NoteAEFDetails.tsx
  src/components/notes-aef/NoteAEFForm.tsx
  src/components/notes-aef/NoteAEFList.tsx
  src/hooks/useNotesAEF.ts
  src/hooks/useNotesAEFList.ts
  src/integrations/supabase/client.ts
  src/lib/notes-aef/notesAefService.ts
  supabase/migrations/20260213_prompt4_fix_aef_trigger_and_references.sql
Due: eslint --fix --max-warnings 0, prettier --write

feat(backend): Prompt 5 - vue v_notes_aef_detail + hook useNoteAEFDetail
  src/hooks/useNoteAEFDetail.ts
  src/pages/NoteAEFDetail.tsx
  supabase/migrations/20260213_prompt5_view_notes_aef_detail.sql
Due: eslint --fix --max-warnings 0, prettier --write

feat(notes-aef): Prompt 5 - DetailSheet 5 onglets, RBAC menu, lien NSEF
  src/components/notes-aef/NoteAEFDetailSheet.tsx
  src/components/notes-aef/index.ts
  src/hooks/useNoteAEFDetail.ts
  src/pages/NotesAEF.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(validation-aef): Prompt 6 - Workflow validation AEF avec contrôle budgétaire bloquant
  src/components/notes-aef/NoteAEFDetailSheet.tsx
  src/hooks/useNotesAEF.ts
  src/lib/notes-aef/types.ts
  src/pages/NotesAEF.tsx
  src/pages/ValidationNotesAEF.tsx
  supabase/migrations/20260213_fix_aef_validation_task_trigger.sql
Due: eslint --fix --max-warnings 0, prettier --write

feat(backend): Prompt 6 Backend - enforce AEF workflow server-side (defense-in-depth)
  supabase/migrations/20260214_prompt6_enforce_aef_workflow.sql
Due: none

fix(backend): Prompt 6 QA - Fix 4 database blockers for AEF validation workflow
  supabase/migrations/20260213_fix_aef_triggers_and_missing_function.sql
  supabase/migrations/20260213_fix_notes_dg_update_rls_with_check.sql
Due: none

feat(backend): Prompt 7 - RLS refonte notes_dg + index performance
  supabase/migrations/20260214_prompt7_rls_indexes_notes_dg.sql
Due: none

fix(aef-export): Install qrcode dependency and wire up PDF/CSV export buttons
  package-lock.json
  package.json
  src/hooks/useNotesAEFExport.ts
  src/hooks/useNotesAEFList.ts
  src/pages/NotesAEF.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(perf): Prompt 7 - RPC counts, index composites, sécurité vue anon, exports validation
  src/hooks/useNotesAEFList.ts
  src/lib/notes-aef/notesAefService.ts
  src/pages/ValidationNotesAEF.tsx
  supabase/migrations/20260214_prompt7_indexes_security_rpc.sql
Due: eslint --fix --max-warnings 0, prettier --write

feat(certification): Prompt 8 - Certification module Notes AEF + E2E tests
  docs/CERTIFICATION_NOTES_AEF.md
  docs/TRANSITION_VERS_IMPUTATION.md
  e2e/notes-aef-complete.spec.ts
  src/integrations/supabase/types.ts
  src/lib/notes-aef/notesAefService.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(audit): Prompt 1 - Audit complet module Imputation (score 58/100)
  docs/AUDIT_COMPLET_IMPUTATION.md
Due: prettier --write

docs(audit): Update Imputation audit with QA agent findings (score 56/100)
  docs/AUDIT_COMPLET_IMPUTATION.md
Due: prettier --write

docs(imputation): Prompt 2 - Diagnostic approfondi complet P0/P1/P2
  docs/DIAGNOSTIC_COMPLET_IMPUTATION.md
Due: prettier --write

test(e2e): Update Notes AEF E2E spec with 40 comprehensive tests
  e2e/notes-aef-complete.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(rls): Prompt 3 - Refonte complète RLS imputations (faille sécurité)
  supabase/migrations/20260214_prompt3_fix_imputations_rls.sql
Due: none

fix(imputation): Prompt 3 - Fix all build/TS/console errors in Imputation module
  src/components/imputation/ImputationDetails.tsx
  src/components/imputation/ImputationForm.tsx
  src/components/ui/badge.tsx
  src/hooks/useImputation.ts
  src/hooks/useImputations.ts
  src/pages/execution/ImputationPage.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(imputation): Prompt 4 - Nouveau générateur ARTI02MMYYNNNN + UNIQUE + is_migrated
  supabase/migrations/20260214_prompt4_reference_generator_unique.sql
Due: none

feat(imputation): Prompt 4 - FK disambiguation, NAEF/budget selectors, centralized trigger
  src/components/imputation/ImputationForm.tsx
  src/hooks/useImputation.ts
  src/pages/execution/ImputationPage.tsx
  supabase/migrations/20260214_prompt4_centralize_imputation_trigger.sql
Due: eslint --fix --max-warnings 0, prettier --write

fix(security): Prompt 7 - Revoke ALL anon access on v_notes_aef_detail
  supabase/migrations/20260214_prompt7_indexes_security_rpc.sql
Due: none

fix(imputation): Cast is_migrated pour compatibilité types Supabase générés
  src/components/imputation/ImputationForm.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(imputation): Prompt 5 - Vue v_imputations_detail dénormalisée
  supabase/migrations/20260214_prompt5_view_imputations_detail.sql
Due: none

feat(imputation): Prompt 5 - Sheet détail 4 onglets + Actions + Liens chaîne
  e2e/prompt5-qa.spec.ts
  src/components/imputation/ImputationDetailSheet.tsx
  src/hooks/useImputationDetail.ts
  src/hooks/useImputations.ts
  src/pages/execution/ImputationPage.tsx
  supabase/migrations/20260214_prompt5_imputation_detail_view.sql
Due: eslint --fix --max-warnings 0, prettier --write

feat(imputation): Prompt 6 - Validation atomique avec réservation budgétaire
  e2e/prompt3-qa.spec.ts
  e2e/prompt4-qa.spec.ts
  e2e/prompt6-qa.spec.ts
  src/components/imputation/ImputationDetailSheet.tsx
  src/components/imputation/ImputationValidationDialog.tsx
  src/hooks/useImputations.ts
  src/pages/execution/ImputationPage.tsx
  supabase/migrations/20260214_prompt6_validate_imputation.sql
Due: eslint --fix --max-warnings 0, prettier --write

feat(imputation): Prompt 7 - RLS refonte, index performance, sécurité
  e2e/prompt7-qa.spec.ts
  supabase/migrations/20260214_prompt7_rls_indexes_imputations.sql
Due: eslint --fix --max-warnings 0, prettier --write

feat(imputation): Prompt 7 - Exports, pagination serveur, performance
  src/components/imputation/ImputationValidationDialog.tsx
  src/hooks/useImputations.ts
  src/hooks/useImputationsExport.ts
  src/lib/export/export-templates.ts
  src/pages/execution/ImputationPage.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(imputation): Prompt 8 - Notifications workflow + cohérence chaîne NAEF
  supabase/migrations/20260214_prompt8_notifications_coherence_imputations.sql
Due: none

feat(imputation): Prompt 8 - QR Code, lien AEF→Imputation, migration backend déployée
  src/components/imputation/ImputationDetailSheet.tsx
  src/components/notes-aef/NoteAEFDetailSheet.tsx
  src/hooks/useNoteAEFDetail.ts
  src/lib/qrcode-utils.ts
Due: eslint --fix --max-warnings 0, prettier --write

test(imputation): Prompt 9 - Suite E2E complète 50 tests Playwright (10 sections)
  e2e/tests/imputation-complete.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(imputation): Prompt 10 - Certification module + transition Expression Besoin
  docs/CERTIFICATION_IMPUTATION.md
  docs/TRANSITION_VERS_EXPRESSION_BESOIN.md
  src/components/imputation/ImputationValidationDialog.tsx
  src/pages/execution/ImputationPage.tsx
Due: eslint --fix --max-warnings 0, prettier --write

docs(expression-besoin): Prompt 11-12 - Audit + Diagnostic complet module Expression de Besoin
  docs/AUDIT_COMPLET_EXPRESSION_BESOIN.md
  docs/DIAGNOSTIC_COMPLET_EXPRESSION_BESOIN.md
Due: prettier --write

fix(expression-besoin): Prompt 3 - Fix 8 bugs P0 accent normalization, export FK, SQL fixes
  src/components/export/BudgetChainExportButton.tsx
  src/components/expression-besoin/ExpressionBesoinDetails.tsx
  src/components/expression-besoin/ExpressionBesoinFromImputationForm.tsx
  src/components/expression-besoin/ExpressionBesoinList.tsx
  src/components/expression-besoin/ExpressionBesoinTimeline.tsx
  src/hooks/useExportBudgetChain.ts
  src/hooks/useExpressionsBesoin.ts
  src/pages/execution/ExpressionBesoin.tsx
  supabase/migrations/20260216_fix_expression_besoin_bugs.sql
Due: eslint --fix --max-warnings 0, prettier --write
